/*formatting of table*/
.table {
    background-color: whitesmoke;
    border-color: lightslategray;
    border-width: 4px;
    margin: 30px auto 10px auto;
    width: 80%;  
}

#table-head {
    background-color: darkslategray;
    color: white;
}

.table-hover tbody tr:hover {
    background: lightgray;
}
p{
    font-size: 30px;
    font-weight: bold;
    margin: 20px 130px;   
}
/*Formatting of page header*/
.page-header {
    margin: 30px auto 0px auto;
    width: 50%;
    padding-bottom: 0px;
}
img{
    width: 110px;
}