<h2>Customers Orders</h2>
<table class="table table-bordered">
    <tr>
    <th>Product Name</th>
    <th>Total</th>
    </tr>
    <tr ng-repeat='order in orders'>
        <td ng-bind='order.product'></td>
        <td ng-bind='order.total | currency'> </td>
        
    </tr>
    <tr ng-class="totalType">
        <td>&nbsp;</td>
        <td>{{ordersTotal | currency}}</td>
        
    </tr>
</table>